@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-thumb:active {
	background: #333;
}
